body {
	margin:0;
	padding:0;
	background:#ebebeb;
	font-family:'Montserrat',sans-serif;
	font-size:12px;
}
img{
	cursor: pointer;
}
p.calculation {
    font-size: 15px;
}
#close{
	padding: 0px 5px 0px 5px;
    border: 1px solid #138808;
    background-color: #138808;
    border-radius: 50%;
    width: 20px;
    cursor: pointer;
}
.form-icon {
    color: #FF9933;
}
.image-section img {
    width: 100%;
    max-width: 100%;
}
.tab-section img {
    width: 100%;
    max-width: 100%;
}
.slider-section img {
    width: 100%;
    max-width: 100%;
}
button.custom-button {
    background: none;
    border: 3px solid #FF9933;
    padding: 5px 20px;
    color: #138808;
}
.btn-primary {
    color: #fff;
    background-color: #138808;
    border-color: #138808;
}
.btn-primary:hover {
    color: #fff;
    background-color: #138808;
    border-color: #138808;
}

.calculator {
    position: fixed;
    top: 45%;
    right: 0px;
    z-index: 19;
}

.home-calculator{
	position: fixed;
    right: -500px;
    top:25%;
    width: 500px;
    height: auto;
    transition: 1s;
}
.calculator .calculator-open {
    transition: 1s;
    right: 0;
}

.calculator img{
	width: 40px;
	height:60px;
}

.figure-caption {
    position: absolute;
    top: 140px;
    right: 50px;
}
.figure img {
    width: 100%;
    max-width: 100%;
}

.grid-content{
	color: #444;
	padding: 30px;
}
.grid-center{
	width: 50%;
    padding: 0px 0px 0px 150px;
}
.grid-content h4{
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 30px;
}
.grid-content h4 span{
	border: 1px solid #138808;
    padding: 5px 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    background-color: #138808;
    margin-right: 5px;
}
.grid-content p{
	font-size: 14px;
	text-align: justify;
}
.carousel-control{
	width: 5%;
	opacity: 1;
}
#myCarousel .nav{
	border-bottom: 1px solid #FF9933;
}
/*#myCarousel img{
	filter: contrast(110%) brightness(100%);
}*/
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav a {
    border-radius:0px;
    text-transform: uppercase;
    color: #138808;
    font-weight: 600;
    font-size: 14px;
}
#myCarousel ul li{
	text-align: center;
}
.nav-pills>li.active {
    border-bottom: 4px solid #FF9933;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #ebebeb !important;
    color: #138808 !important;
}
.nav>li>a:focus,.nav>li>a:hover{
	background-color: #ebebeb !important;
}
#scroll-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar-thumb
{
	background-color: #138808;	
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}
/*.top-header{
	height: 25px;
	width: 100%;
	background-color: #fff;
}*/
.header{
	box-shadow: rgba(140, 140, 140, 0.0901961) 0px 2px 4px;
	background-color: #fff;
	z-index: 16;
}
.footer-section li a {
    text-decoration: none;
    list-style: none;
    color: #138808;
}
nav{
	padding:5px;
}
nav ul{
	margin-bottom: 0px;
}
nav a{
	text-decoration: none;
}
nav a:hover{
	text-decoration: none;
	list-style: none;
}
nav a:focus{
	text-decoration: none;
	list-style: none;
}
.button{
	text-align: left;
	z-index: 999;
	padding: 5px 0px 0px 10px;
	font-size: 26px;
}
.logo{
	text-align: center;
}
.sign{
	text-align: right;
	padding: 15px 10px 0px 0px;
	font-size: 13px;
}
.sign span{
	color: #138808;
	font-weight: 700;
    letter-spacing: .5px;
}
.sign i{
	color:#000;
}
.btn-open:after {
	color:#333;
	content:"\f0c9";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
	color:#34B484;
}
.btn-close:after {
	color:#138808;
	content:"\f00d";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
	color: #34B484;
}
.btn-close {
    position: absolute;
    left: -63px;
    top: 0px;
}
/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:20%;
	background:#fff;
	overflow:auto;
	z-index:99;
}
.wrap {
	color: #e9e9e9;
    margin-left: 30px;
    letter-spacing: 1px;
}
.wrap ul.wrap-nav {
	padding: 40px 0px 0px 0px;
}
.wrap ul.wrap-nav li {
	font-size:12px;
	vertical-align:top;
	position:relative;
	padding:10px;
	color:rgb(155, 155, 155);
	text-transform: uppercase;
	list-style: none;

}
.wrap ul.wrap-nav li a {
	color:rgb(155, 155, 155);
	display:block;
	text-decoration:none;
	border-bottom: 2px solid #fff;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
	color:#138808;
	border-bottom: 2px solid #FF9933;
	transition: 0.05s;
}
.wrap ul.wrap-nav li a.active{
	color:#138808;
	font-weight:700; 
}
.wrap ul.wrap-nav ul {
	padding:20px 0;
}
.wrap ul.wrap-nav ul li {
	display:block;
	font-size:13px;
	width:100%;
	color:#e9e9e9;
}
.wrap ul.wrap-nav ul li a {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul li a:hover {
	color:#34B484;
}

.wrap-nav li i {
    font-size: 16px;
}

.body-overlay{
	z-index: 88;
    width: 80%;
    height: 100%;
    left:20%;
    background: rgba(0,0,0,0.8);
    position: absolute;
}

.noscroll{
	overflow-x: auto;
	overflow-y: hidden;
}
.tab-section{
	margin-top: 5px;
}
.tab-section-1{
	margin-top: 5px;
}
.slider-section{
	margin-top: 5px;
}

.headings h4{
	/*margin-top: 30px;*/
	text-align: center;
	color: #138808;
    font-weight: 700;
}
.text-center{
	color: #138808;
}
a:focus, a:hover{
	text-decoration: none;
}
.fixed {
	position: fixed; 
	top: 0; 
	width: 100%;
	animation: fadeIn .1s ease-in both;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
/*tab section */
.tab-pane img{
	width: 100%;
}
.nav-tabs{
	border-bottom: 1px solid #34B484;
}
.nav-tabs>li{
	margin-bottom: 0px;
	text-align: center;
    width: 33%;
}
.nav-tabs>li:nth-child(3) {
    margin-left: 11px;
}
.nav-tabs>li>a:hover{
	border-color: #fff;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}
.nav-tabs>li>a {
    margin-right: 1px;
    line-height: 1.42857143;
    border-radius: 0px;
    letter-spacing: 1px;
    color:#4a4a4a;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #4a4a4a;
    cursor: default;
    background-color: transparent;
    border: 1px solid #fff;
}
.nav>li>a {
    position: relative;
}

/*tab section */

/*slider section*/
.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
.carousel-control.right, .carousel-control.left{
	background-image:none;
}
/*slider section*/

/*footer section*/
.footer-section{
	text-align: center;
	/*margin-top: 30px;*/
}
.footer-section .row{
	margin-right: 0px;
	margin-left: 0px;
}
.footer-section span{
	color: #666;
}
.footer-section ul li i {
    color: #138808;
    font-size: 20px;
    padding: 5px;
}
.footer-section ul li{
	color: #138808;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 5px 20px 0px 20px;
}
.grid-row{
	/*background-color: #fafafa;
    padding: 40px 20px 40px 20px;*/
}
.grid {
    padding: 5px 0px 0px 0px;
    background-color: #ddd;
}
.grid-1{
	padding: 5px 0px 0px 0px;
	background-color: #ddd;
}
.grid-section{
	color: #777;
	margin-top: 20px;
}
.grid-section-1{
	margin-top: 20px;
	text-align: center;
}

.nav-tabs li.active{
	border-bottom: 2px solid #138808;
}
.slider-bottom{
	margin-bottom: 90px;
}
/*footer section*/

/*how it works*/
.price-box {
    margin: 0 auto;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	padding: 15px 15px;
	width: 500px;
	color: #fff;
}
.price-box-1 {
    margin: 0 auto;
	background: rgba(0,0,0,0.8);
	border-radius: 10px 0px 0px 10px;
	padding: 15px 15px 15px 25px;
	width: 500px;
	color: #fff;
}
/*how it works */
@media screen and (max-width: 399px) and (min-width: 320px) {
.help-center-img{
	width: 100px;
	margin: 0 auto;
}
p.calculation {
    font-size: 12px;
}
.calculator img {
    width: 20px;
    height: 30px;
}
.home-calculator {
    position: fixed;
    right: -500px;
    top: 25%;
    width: 350px;
    height: auto;
    transition: 1s;
}
.price-box-1 {
    width: 350px;
}
.price-box-1 h4, .price-box-1 h3, .price-box-1 button{
	font-size: 12px;
}
.price-box-1 span{
	font-size: 14px;
}
  .nav-tabs>li:nth-child(3) {
    margin-left: 2px;
}
  .btn-open:after{
    font-size:20px;
  }
  .btn-close:after{
    font-size:20px;
  }
  .overlay{
  	width: 60%;
  }
  .wrap ul.wrap-nav>li {
		width:100%;
		padding: 10px 0;
	}
	.wrap ul.wrap-nav {
		padding:40px 0px 0px;
	}
	.logo img{
		height:25px;
	}
	.button{
		font-size:12px;
	}
	.sign{
		font-size: 12px;
		padding: 10px 5px 0px 0px;
	}
	.logo{
		padding: 7px;
	}
	.btn-close {
    position: absolute;
    left: 20px;
    top: 5px;
	}
	.grid{
		border-right: 0px;
	    padding: 5px;
	}
	.grid-1 {
    padding: 5px;
	}
.nav>li>a {
    padding: 0px;
    font-size: 8px !important;
	}
.nav-justified>li {
    display: table-cell;
    width: 1%;
}
.nav-tabs>li>a{
	letter-spacing: 0px;
	margin-right: 0px;
}
.headings h4{
	font-size: 10px;
	/*margin: 10px;*/
}
.slider-section{
	margin: 0px;
}
.slider-bottom{
	margin-bottom: 10px;
}
.footer-section ul li{
	font-size: 10px;
	padding: 10px;
}
.mobile-margin{
	margin-top:10px;
}
.grid-section{
	margin-top: 40px;
}
.tab-section-1 .nav>li>a{
	position: relative;
    display: inline-block;
}
.grid-center {
    width: 100%;
    padding: 0px 0px 0px 100px;
}
.grid-img {
    height: 128px;
}
.grid-section h3 {
    font-size: 16px;
}
.grid-content h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.grid-content p {
    font-size: 12px;
    text-align: justify;
}
.figure-caption{
	display: none;
}
}

@media screen and (max-width: 699px) and (min-width: 400px){
.help-center-img{
	width: 100px;
	margin: 0 auto;
}
p.calculation {
    font-size: 12px;
}
.calculator img {
    width: 20px;
    height: 30px;
}
.home-calculator {
    position: fixed;
    right: -500px;
    top: 25%;
    width: 350px;
    height: auto;
    transition: 1s;
}
.price-box-1 {
    width: 350px;
}
.price-box-1 h4, .price-box-1 h3, .price-box-1 button{
	font-size: 12px;
}
.price-box-1 span{
	font-size: 14px;
}
	.nav>li>a {
    padding: 0px;
    font-size: 8px !important;
	}
	.nav-tabs>li:nth-child(3) {
    margin-left: 3px;
}
	.nav-justified>li {
    display: table-cell;
    width: 1%;
}
	.btn-open:after{
    font-size:20px;
  }
  .btn-close:after{
    font-size:20px;
  }
  .overlay{
  	width: 60%;
  }
  .wrap ul.wrap-nav>li {
		width:100%;
		padding: 10px 0;
	}
	.wrap ul.wrap-nav {
		padding:40px 0px 0px;
	}
	.logo img{
		height:25px;
	}
	.button{
		font-size:12px;
	}
	.sign{
		font-size: 12px;
		padding: 10px 5px 0px 0px;
	}
	.logo{
		padding: 7px;
	}
	.btn-close {
    position: absolute;
    left: 20px;
    top: 5px;
	}
	.grid{
		border-right: 0px;
	    padding: 5px;
	}
	.grid-1 {
    padding: 5px;
	}
.headings h4{
	font-size: 10px;
	/*margin: 10px;*/
}
.slider-section{
	margin: 0px;
}
.slider-bottom{
	margin-bottom: 10px;
}
.footer-section ul li{
	font-size: 10px;
	padding: 10px;
}
.mobile-margin{
	margin-top:10px;
}
.grid-section{
	margin-top: 50px;
}
.tab-section-1 .nav>li>a{
	position: relative;
    display: inline-block;
}
.grid-center {
    width: 100%;
    padding: 0px 0px 0px 135px;
}
.grid-img {
    height: 128px;
}
.grid-section h3 {
    font-size: 16px;
}
.grid-content h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.grid-content p {
    font-size: 12px;
}
.figure-caption{
	display: none;
}
}

@media screen and (max-width: 767px) and (min-width: 700px){
.help-center-img{
	width: 100px;
	margin: 0 auto;
}
p.calculation {
    font-size: 12px;
}
.calculator img {
    width: 20px;
    height: 30px;
}
.home-calculator {
    position: fixed;
    right: -500px;
    top: 25%;
    width: 350px;
    height: auto;
    transition: 1s;
}
.price-box-1 {
    width: 350px;
}
.price-box-1 h4, .price-box-1 h3, .price-box-1 button{
	font-size: 12px;
}
.price-box-1 span{
	font-size: 14px;
}
		.nav>li>a {
    padding: 0px;
    font-size: 8px !important;
	}
	.nav-tabs>li:nth-child(3) {
    margin-left: 3px;
}
	.nav-justified>li {
    display: table-cell;
    width: 1%;
}
	.btn-open:after{
    font-size:20px;
  }
  .btn-close:after{
    font-size:20px;
  }
  .overlay{
  	width: 60%;
  }
  .wrap ul.wrap-nav>li {
		width:100%;
		padding: 10px 0;
	}
	.wrap ul.wrap-nav {
		padding:40px 0px 0px;
	}
	.logo img{
		height:25px;
	}
	.button{
		font-size:12px;
	}
	.sign{
		font-size: 12px;
		padding: 10px 5px 0px 0px;
	}
	.logo{
		padding: 7px;
	}
	.btn-close {
    position: absolute;
    left: 20px;
    top: 5px;
	}
	.grid{
		border-right: 0px;
	    padding: 5px;
	}
	.grid-1 {
    padding: 5px;
	}
.headings h4{
	font-size: 10px;
	/*margin: 10px;*/
}
.slider-section{
	margin: 0px;
}
.slider-bottom{
	margin-bottom: 10px;
}
.footer-section ul li{
	font-size: 10px;
	padding: 10px;
}
.mobile-margin{
	margin-top:10px;
}
.grid-section{
	margin-top: 50px;
}
.tab-section-1 .nav>li>a{
	position: relative;
    display: inline-block;
}
.figure-caption{
	display: none;
}
}

@media screen and (max-width: 1100px) and (min-width: 768px){
    .nav>li>a {
    padding: 0px;
    font-size: 8px !important;
	}

	.nav-tabs>li:nth-child(3) {
    margin-left: 3px;
}
	.tab-section-1 .nav>li>a{
	position: relative;
    display: inline-block;
}
.nav-justified>li {
    display: table-cell;
    width: 1%;
}
.grid-center {
    width: 50%;
    padding: 30px 0px 0px 300px;
}
.grid-img {
    height: 69px;
}
.figure-caption{
	display: none;
}
}


#cmsmasters_icon_box_59509e0883dc2::before, #cmsmasters_icon_box_5950a2380acd0 .icon_box_heading::before {
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 50%;
    border-width: 0;
    font-size: 90px;
    height: 90px;
    line-height: 90px;
    width: 90px;
}
#cmsmasters_icon_box_5950a2380acd0::before {
    background-image: url("../images/Без-имени-1.png");
}
#cmsmasters_row_5950a2380a9ff .cmsmasters_row_outer_parent {
    padding-bottom: 70px;
}
#cmsmasters_row_5950a2380a9ff .cmsmasters_row_outer_parent {
    padding-top: 80px;
}
#cmsmasters_icon_box_5950a2380acd0.cmsmasters_icon_box_top::before {
    top: -45px;
}
#cmsmasters_icon_box_59509e0883dc2::before {
    background-image: url("../images/Без-имени-1.png");
}
#cmsmasters_icon_box_59509e0883dc2::before, #cmsmasters_icon_box_59509e0883dc2 .icon_box_heading::before {
    margin-left: -45px;
}
#cmsmasters_icon_box_59509e0883dc2::before, #cmsmasters_icon_box_59509e0883dc2 .icon_box_heading::before {
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 50%;
    border-width: 0;
    font-size: 90px;
    height: 90px;
    line-height: 90px;
    width: 90px;
}
.cmsmasters_icon_box.cmsmasters_icon_box_top::before {
    font-size: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 35px;
    transform: scale(0);
}
.cmsmasters_icon_box.box_icon_type_image::before, .cmsmasters_icon_box.box_icon_type_number::before {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
}
.appformsec {
    background-attachment: fixed;
    background-color: #3e467b;
    background-image: url("../images/blue-poly-background.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    color: #fff;
}
#cmsmasters_heading_5950a2380ce93 {
    margin-bottom: 10px;
    margin-top: 60px;
    text-align: center;
}
#cmsmasters_heading_5950a2380d084 {
    margin-bottom: 100px;
    margin-top: 0;
    text-align: center;
}
.one_half {
    width: 46.6%;
}
#cmsmasters_heading_5950a2380e033 {
    margin-bottom: 5px;
    margin-top: 50px;
    text-align: left;
}
#cmsmasters_heading_5950a2380e212 {
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;
}
#cmsmasters_row_59509e0883903 .cmsmasters_row_outer_parent {
    padding-bottom: 70px;
}
#cmsmasters_row_59509e0883903 .cmsmasters_row_outer_parent {
    padding-top: 80px;
}
.cmsmasters_img.cmsmasters_image_c {
    text-align: center;
}
.outer_parent {
    padding-bottom: 110px;
}
.cmsmasters_text {
    font-size: 15px;
    line-height: 25px;
}
#cmsmasters_headings .cmsmasters_heading {
    color: #cddc39;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}
h2 {
    margin: 0 auto;
}
.cmsmasters_row.cmsmasters_row_bot_triangle::after {
    bottom: -15px;
    top: auto;
}
.cmsmasters_row.cmsmasters_row_top_triangle::before, .cmsmasters_row.cmsmasters_row_bot_triangle::after {
    background-color: inherit;
    bottom: auto;
    content: "";
    height: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -15px;
    transform: rotate(45deg);
    width: 30px;
    z-index: 1;
}
*, *::before, *::after {
    box-sizing: border-box;
}
#cmsmasters_row_5950b3cf95c67 {
    background-color: #393d7d;
}
.cmsmasters_button {
    border-radius: 25px;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    padding: 15px 33px;
    position: relative;
    background: #cddc39;
    color: #fff;
}
.outer_parent_con {
    padding: 80px 0;
}
#cmsmasters_heading_5950c725e1952 {
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;
}
.cmsmasters_text {
    margin-top: 20px;
}
.rec_ur_mon {
    background-attachment: fixed;
    background-image: url("../images/green-poly-background.jpg");
    background-position: center top;
    background-repeat: repeat;
    background-size: cover;
}
.cmsmaster_heading {
	color: #fff;
}
.cmsmasters_button.gre {
    background: #3e467b none repeat scroll 0 0;
}
.cmsmasters_button {
    text-transform: uppercase;
}
.rig_choice {
    background-attachment: fixed;
    background-image: url("../images/how-it-works-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon_box_inner .icon_box_heading {
    color: #fff;
    margin: 50px 0 20px;
    text-transform: uppercase;
}
.icon_box_text > p {
    color: #fff;
}
.fa.fa-check-circle-o {
    color: #cddc39;
    font-size: 40px;
}
.outer_parents {
    padding: 80px 0;
}
.appformsec .grid-content-section {
    color: #fff;
}
.mainsec p {
    color: #878787;
    font-size: 15px;
    line-height: 25px;
}
.mainsec .icon_box_heading {
	color: #000;
}
.col-sm-4 .cmsmasters_heading {
    text-align: center;
    text-transform: uppercase;
}
#cmsmasters_icon_box_59521f3139c2e.cmsmasters_icon_box_top::before {
    top: -45px;
}
#cmsmasters_icon_box_59521f313a908.cmsmasters_icon_box_top::before {
    top: -45px;
}
#cmsmasters_icon_box_59521f313b4bb.cmsmasters_icon_box_top::before {
    top: -45px;
}
#cmsmasters_icon_box_59521f3139c2e::before, #cmsmasters_icon_box_59521f3139c2e .icon_box_heading::before {
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 50%;
    border-width: 0;
    font-size: 90px;
    height: 90px;
    line-height: 90px;
    width: 90px;
}
#cmsmasters_icon_box_59521f313a908 .icon_box_heading::before {
    margin-left: -45px;
}
#cmsmasters_icon_box_59521f313a908::before, #cmsmasters_icon_box_59521f313a908 .icon_box_heading::before {
    border-radius: 50%;
    border-width: 0;
    font-size: 90px;
    height: 90px;
    line-height: 90px;
    width: 90px;
}
#cmsmasters_icon_box_59521f313b4bb::before, #cmsmasters_icon_box_59521f313b4bb .icon_box_heading::before {
    margin-left: -45px;
}
#cmsmasters_icon_box_59521f313a908::before, #cmsmasters_icon_box_59521f313a908 .icon_box_heading::before {
    margin-left: -45px;
}
#cmsmasters_icon_box_59521f3139c2e::before, #cmsmasters_icon_box_59521f3139c2e .icon_box_heading::before {
    margin-left: -45px;
}
#cmsmasters_icon_box_59521f313b4bb::before, #cmsmasters_icon_box_59521f313b4bb .icon_box_heading::before {
    border-radius: 50%;
    border-width: 0;
    font-size: 90px;
    height: 90px;
    line-height: 90px;
    width: 90px;
}
.cmsmasters_icon_box.cmsmasters_icon_box_top.shortcode_animated::before {
    opacity: 1;
    transform: scale(1);
}
#cmsmasters_icon_box_59521f3139c2e::before {
    background-image: url("../images/Без-имени-1.png");
}
#cmsmasters_icon_box_59521f313a908::before {
    background-image: url("../images/Без-имени-2.png");
}
#cmsmasters_icon_box_59521f313b4bb::before {
    background-image: url("../images/Без-имени-3.png");
}
.cmsmasters_icon_box.cmsmasters_icon_box_top.box_icon_type_image.shortcode_animated {
    text-align: center;
}
.sectop {
    padding-top: 120px;
}
.maintop {
    background-attachment: scroll;
    background-image: url("../images/home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.maintop .col-sm-6 {
    color: #fff;
}
.cmsmasters_heading_wrap.cmsmasters_heading_align_left h1 {
    /*font-family: 'Poppins';*/
    font-size: 72px;
    line-height: 84px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
}
.cmsmasters_heading_wrap.cmsmasters_heading_align_left h4 {
    color: #e5f44e;
    /*font-family: "Poppins";*/
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
}
.maintop .container .col-sm-6 {
    margin: 120px 0;
}
.cmsmasters_button.cmsmasters_customizing.cmsmasters_button.gre:hover {
	color: #fff;
}
.how_it_work {
    background-attachment: scroll;
    background-image: url("../images/how-it-works-header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container.howit {
    color: #fff;
    padding-bottom: 250px;
    padding-top: 250px;
    text-align: center;
}
#homebut {
    padding-top: 140px;
}